<!DOCTYPE html>
<html lang="en">
  <head>
    <title>rss.trackerd</title>

    <link href="/static/css/login.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="enterwidget">

      
      <div class="logo">
        <h1><strong>rss.trackerd</strong></h1>
      </div>

      <div class="login">
        <form method="post">
          <h3>Log in</h3>
          <p>
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" value="">
          </p>
          <p>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password">
          </p>
          
          <p>
            <label>&nbsp;</label>
            <button type="submit">Log In</button>
          </p>
        </form>
      </div>

      <div class="signup">
        <span class="separator"><strong>OR</strong></span>
        <a href="signup">Sign up</a>
      </div>

    
    </div>
  </body>
</html>