<!DOCTYPE html>
<html lang="en">
  <head>
    <title>rss.trackerd</title>

    <link href="/static/css/login.css" media="screen" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="enterwidget">

      
      <div class="logo">
        <h1><strong>rss.trackerd</strong></h1>
      </div>

      <div class="login">
        <form method="post">
          <h3>Create New Account</h3>
          <p>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" value="">
          </p>
          <p>
            <label for="password">Password:</label>
            <input id="password" type="password" name="password">
          </p>
          <p>
            <label for="passwordagain">Retype Password:</label>
            <input id="passwordagain" type="password" name="passwordagain">
          </p>
          
          <p>
            <label>&nbsp;</label>
            <button type="submit">Sign up</button>
          </p>
        </form>
      </div>

    
    </div>
  </body>
</html>