<html>
  <head>
    <title>create a feed item</title>
  </head>
  <body>
    <form method="post">
        <p>
          <label for="subscriptionname">Subscription name:</label>
          <input type="text" id="subscriptionname" name="subscriptionname" value="">
        </p>
        <p>
          <label for="itemname">Item name:</label>
          <input type="text" id="itemname" name="itemname" value="">
        </p>
        <p>
          <label for="content">Content:</label>
          <textarea id="content" name="content"></textarea>
        </p>
        
        <p>
          <label>&nbsp;</label>
          <button type="submit">Create</button>
        </p>
    </form>
  </body>
</html>